[
% %% SASL config
% {sasl, [
%         {sasl_error_logger, {file, "log/sasl-error.log"}},
%         {errlog_type, error},
%         {error_logger_mf_dir, "log/sasl"},      % Log directory
%         {error_logger_mf_maxbytes, 10485760},   % 10 MB max file size
%         {error_logger_mf_maxfiles, 5}           % 5 files max
%         ]},
 {lager, [
   % Print coloured log messages on terminal
   {colored, true},
   % Store original copy of standard Erlang crash report in dedicated file (in addition to the more readable lager ERROR message)
   {crash_log, "log/crash-reports.log"},
   % Register log handlers ...
   {handlers, [
     {lager_console_backend, info},
     {lager_file_backend, [{file, "log/error.log"}, {level, error}]},
     {lager_file_backend, [{file, "log/console.log"}, {level, info}]}
   ]}
 ]},
 {controlhub,
   [{max_in_flight, 16}]
 }
].

