[submodule "uhal/python/pybind11"]
	path = uhal/python/pybind11
	url = https://github.com/pybind/pybind11.git
        branch = v2.10.4
[submodule "uhal/python/pybind11-python2"]
	path = uhal/python/pybind11-python2
	url = https://github.com/pybind/pybind11.git
	branch = v2.9.2
