[
 {lager, [
   % Print coloured log messages on terminal
   {colored, true},
   % Register log handlers ...
   {handlers, [
     {lager_console_backend, critical},
     {lager_syslog_backend, ["controlhub", daemon, notice, {lager_default_formatter, [date, " ", time, " [", severity, "] ", pid, " - ", message, "\n"]}]}
   ]},
%
%% CRASH reports currently not written, since basic neccessary info is included anyway in standard log backends
   {crash_log, undefined}
%
%   % Store original copy of standard Erlang crash report in dedicated file (in addition to the more readable lager ERROR message)
%   {crash_log, "log/crash-reports.log"},
%   % Rotate crash log file
%   {crash_log_size, 10485760}, {crash_log_date, "$W0D23"}, {crash_log_count, 4}
 ]}
].

