[Unit]

Description=The IPbus ControlHub server daemon; mediates simultanous IPbus-based hardware access from multiple control applications.
Documentation=http://ipbus.web.cern.ch/ipbus/doc/index.html
Requires=network.target


[Service]
Type=Type=forking
PIDFile=/var/run/controlhub.pid
EnvironmentFile=/etc/sysconfig/controlhub
ExecStart=${CACTUSROOT}/bin/controlhub_start
ExecStartPost=${CACTUSROOT}/lib/controlhub/bin/controlhub getpid > /var/run/controlhub.pid
ExecStop=${CACTUSROOT}/bin/controlhub_stop


[Install]

WantedBy=default.target runlevel2.target runlevel5.target