[Unit]

Description=The IPbus ControlHub server daemon; mediates simultanous IPbus-based hardware access from multiple control applications.
Documentation=http://ipbus.web.cern.ch/ipbus/doc/index.html
Requires=network.target


[Service]
Type=forking
PIDFile=
EnvironmentFile=/etc/sysconfig/controlhub
ExecStart=/opt/cactus/bin/controlhub_start
ExecStop=/opt/cactus/bin/controlhub_stop


[Install]

WantedBy=default.target runlevel2.target runlevel5.target