%% -*- mode: erlang -*-
%% ex: ft=erlang
{sys, [
       {lib_dirs, []},
       {erts, [{mod_cond, derived}, {app_file, strip}]},
       {app_file, strip},
       {rel, "controlhub", "2.8.13",
        [
         kernel,
         stdlib,
         sasl,
         goldrush,
         lager,
         controlhub
        ]},
       {rel, "start_clean", "",
        [
         kernel,
         stdlib
        ]},
       {boot_rel, "controlhub"},
       {profile, embedded},
       {incl_cond, derived},
       {excl_archive_filters, [".*"]}, %% Do not archive built libs
       {excl_sys_filters, ["^bin/(?!start_clean.boot)",
                           "^erts.*/bin/(dialyzer|typer)",
                           "^erts.*/(doc|info|include|lib|man|src)"]},
       {excl_app_filters, ["\.gitignore"]},
       % crypto depends on openssl; exclude since not used and don't want dependency on openssl version
       {app, crypto, [{incl_cond, exclude}]},
       % Stop hipe automatically being loaded due to dependency of standard libraries on hipe
       % ('hipe' not required for ControlHub, but caused startup errors in some OS / Erlang releases)
       {app, hipe, [{incl_cond, exclude}]},
       % Apps for lager syslog backend
       {app, syslog, [{mod_cond, app}, {incl_cond, include}, {lib_dir, "../deps/syslog"}]},
       {app, lager_syslog, [{mod_cond, app}, {incl_cond, include}, {lib_dir, "../deps/lager_syslog"}]},
       % Apps for syslog
       {app, goldrush, [{mod_cond, app}, {incl_cond, include}, {lib_dir, "../deps/goldrush"}]},
       {app, lager, [{mod_cond, app}, {incl_cond, include}, {lib_dir, "../deps/lager"}]},
       % Finally, the controlhub app
       {app, controlhub, [{mod_cond, app}, {incl_cond, include}, {lib_dir, ".."}]}
      ]}.

{target_dir, "controlhub"}.

{overlay, [
           {mkdir, "log"},
           {copy, "files/nodetool", "releases/\{\{rel_vsn\}\}/nodetool"},
           {copy, "controlhub/bin/start_clean.boot",
                  "\{\{erts_vsn\}\}/bin/start_clean.boot"},
           {copy, "controlhub/bin/start_clean.boot",
                  "\{\{erts_vsn\}\}/bin/no_dot_erlang.boot"},
           {copy, "controlhub/bin/start_clean.boot",
                  "bin/no_dot_erlang.boot"},
           {copy, "files/controlhub", "bin/controlhub"},
           {copy, "files/install_upgrade.escript", "bin/install_upgrade.escript"},
           {copy, "files/core.config", "core.config"},
           {copy, "files/sys.config", "sys.config"},
           {copy, "files/vm.args", "releases/\{\{rel_vsn\}\}/vm.args"}
          ]}.
