*/RPMBUILD/
*/bin/
*/lib/
*/obj/
*/rpm/

gui/MANIFEST
gui/build/
gui/dist/

log/include/uhal/log/log.hpp
log/include/uhal/log/log.hxx
log/src/common/log.cpp
log/.generated_files
log/generator.exe

pycohal/MANIFEST
pycohal/build/
pycohal/dist/
pycohal/pkg/uhal/__init__.pyc
pycohal/pkg/uhal/_core.so
