
# This file is needed due to bug in Python 2.4 version of distutils
# (Specifically, scripts and package_data files in setup.py are not automatically shipped)

include test_pycohal
include pkg/uhal/*.so

