
%%%%%%%%%%%%%%%%
% DEPENDENCIES

{deps, [
  {lager, "3\.2\.2", {git, "https://github.com/basho/lager.git", {tag, "3.2.4"}}},
  {syslog, "1\.0\.5", {git, "https://github.com/Vagabond/erlang-syslog.git", {tag, "1.0.5"}}},
  {lager_syslog, "2\.1\.2", {git, "https://github.com/basho/lager_syslog.git", {tag, "3.0.3"}}}
]}.


%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%%
% Run commands in "rel" directory as well

{recursive_cmds, [clean]}.
{sub_dirs, ["rel"]}.


%%%%%%%%%%%%%%%%%%
% COMPILER FLAGS

{erl_opts, [{parse_transform, lager_transform},
            % Use new time API from Erlang version 18
            % (Erlang releases from 17 onwards do not put R in front of name
            {platform_define, "^(R|17).*", old_erlang_time_api},
            {platform_define, "^(R|17|18).*", orig_udp_port_command_format},
            {platform_define, "^(R|17|18|19).*", bypass_gen_udp_send}
            ]}.
