[
  %% Take application-level settings (e.g. for logging) from 'core.config' file
  "core.config",

  %% Override lager config so that logs written to file
  {lager, [
    {handlers, [
      {lager_file_backend, [{file, "log/info.log"}, {level, info}]},
      {lager_file_backend, [{file, "log/debug.log"}, {level, debug}]}
    ]}
  ]}
].

